.exact-active-link{

  color: blue
  }
  .router-link-active{
     text-decoration: none;
     }
     a,button,input{
       -webkit-tap-highlight-color:rgba(255,0,0,0);
       }
       body{
   background-image: url('../image/1.jpg')
   //no-repeat;
 // background-size: cover
 background-repeat: no-repeat
  background-position:center
 // font: 14px 'Helvetica'
  color: #4d4d4d
 // font-smoothing:antiali
  font-weight: 300
  background-size: 100%
}

